html {
  	background-image: url("images/bg_tile.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  background-position: initial initial;
  background-repeat: initial initial;
  }
  body{
    width:100%;
    height:100%;
    background-image: url("images/bg_radial@2x.png");
    background-size: 250% 270%;
  background-position: center;
  margin: 0px;
  padding-top: 20px;
  font-family: "CambridgeRound","Helvetica Neue",Helvetica,Arial,sans-serif;
color: #454545;
  }

  .container{
  border: 2px solid #8695A8;
/*   box-shadow: inset -1px -1px 1px 0px #232326; */
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 9px 20px 47px 20px;
  background:white;
  }

  .left-pannel{
border: 1px solid #8695A8;
box-shadow: inset 0px 0px 12px -3px black;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
/* width:100%; */
  float: left;
  overflow-y: auto;
  }
.right-pannel{
border: 1px solid #8695A8;
box-shadow: inset 0px 0px 12px -3px black;
  box-sizing: border-box;
  height: 100%;
  width: 69%;
  float:right;
  overflow-y: auto;
  }
  .toolbar{
    background: #B1BBC8;
/*     padding: 10px 10px 10px 10px; */
    border-bottom: 1px solid #6C7885;
    border-radius: 6px 6px 0px 0px;
    height: 28px;
  }

  #release-select{
    width:180px;
  }
  .tree-li{
    list-style-type: none;
  }



  .hide{
    display:none;
  }

 .desc-header{
 height: 28px;
 border-bottom: 1px solid #6C7885;
background: #B1BBC8;
font-weight:bold;
overflow:hidden;
 }
.desc-expander{
	background:url("images/item_open.png");
		height:14px;
	width:14px;
	margin-left: 5px;
margin-top: 7px;
}

.desc-collapser{
	background:url("images/item_close.png");
		height:14px;
	width:14px;
	margin-left: 5px;
margin-top: 7px;
}

.desc-header-text{
	font-size: 12;
top: -2px;
position: relative;
}
.ds{
	display: inline-block;

}

#desc-wrapper{
height: 100px;	
}
#desc-container{
/* 	padding: 10px 20px 10px 20px; */
/* max-height: 100px; */
overflow-y: auto;
/* background: #FDFEF1; */
box-shadow: 0px 1px 12px 0px black inset;
height: 80px;
margin:0px;
clear: both;
-webkit-box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
-moz-box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
background: #F7F8F9;
padding: 10px;
font-size: 12;
	
}

.desc-footer{
	border-radius:6px;
	height:10px;
	border-bottom:1px solid black;
}

.tc{
background-color: rgba(232,233,236,0.296);
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(255,255,255,0.667)),color-stop(100%,rgba(153,153,153,0.198)));
background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
background-image: -moz-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
background-image: -o-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
background-image: -ms-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
background-image: linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198));
	
border: 1px solid;
}

.tc-header{
	height: 25px;
border-bottom: 1px solid black;
}
.tc-name{
	font-size: 14;
	margin: 5px 5px 5px 5px;
}
.tc-status{
	font-size: 14;
	width:16px;
	height:16px;
	float:right;
/* 	top: -22px; */
/* position: relative; */
	margin-right: 5px;
	background-position: center;
	border-radius: .296em;
	-webkit-border-radius: .296em;
	-moz-border-radius: .296em;
	-ms-border-radius: .296em;
	-o-border-radius: .296em;
	background-repeat: no-repeat;
	border:1px solid #8695A8;
}
.tc-status.notrun{
	background:url("images/sleep.png") no-repeat;
	background-position: center;
	background-color: #B1BBC8;
	opacity: 0.7;
}
.tc-status.inprogress{
	background:url("images/status_inprogress.gif") no-repeat;
	background-position: center;
/* background-color: #e4f5d1; */
}
.tc-status.block{
	background:url("images/warning_sm.png") no-repeat;
	background-position: center;
	background-color: #FFF6D7;
}
.tc-status.failed{
	background:url("images/x_sm.png")  no-repeat;
	background-position: center;
	background-color: #F5D1D2;
}
.tc-status.pass{
	background:url("images/check_sm.png") no-repeat;
background-color: #e4f5d1;
background-position: center;
}

.tc-description{
/* 	font-size: 13; */
/* 	margin: 5px; */
}

  .round-corner-all{
    border-radius: 6px;
  }
  
  .feature{
  font-size: 13;
  	padding:6px 5px 5px 5px;
  	background-color: rgba(232,233,236,0.296);

  border-bottom: 1px solid #6C7885;
  height: 49px;
  overflow:hidden;
  }
  
#release_select_chzn{
	margin-left: 2px;
margin-top: -4px;
} 
.refresh-icon{
	background:url("images/refreshicon.gif");
	height: 20px;
width: 20px;
display: inline-block;
position: relative;
top: 3px;
}

.refreshing{
	background:url("images/LoadingIcon.gif");
}

.menu-bar{
height: 20px;
margin-left: auto;
margin-right: auto;
margin-bottom: 8px;
background: white;
border: 2px solid #8695A8;
font-size: 15;
padding: 5px;
}

.menu-element{
	display: inline-block;
border-right: 2px solid #6C7885;
padding-right: 10;
padding-left: 10;
}

#test-viewer-menu{
	margin-left: 8px;
}

#test-metrics-menu{
	border: none;
}

.stats{
	width: 44px;
height: 14px;
float: right;
position: relative;
top: -14px;
}
.feature .title-bar{
	width: auto;
background: #E8E9EC;
height: 16px;
/* background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(255,255,255,0.667)),color-stop(100%,rgba(153,153,153,0.198))); */
/* background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
/* background-image: -moz-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
/* background-image: -o-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
/* background-image: -ms-linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
/* background-image: linear-gradient(top,rgba(255,255,255,0.667),rgba(153,153,153,0.198)); */
}
.feature .summary{
	margin-top: 3px;
	margin-left: 11px;
	overflow:hidden;
}
.feature .jira-key{
width: 100px;
margin-left: 4px;
}
.stats .count{
	width: 40px;
text-align: center;
position: relative;
top: -13px;
	
}

.stats .bar{
/* border: 1px solid #6C7885; */
}
.loading-small{
	background:url("images/LoadingIcon.gif");
	height: 20px;
	width: 20px;
	position: relative;
top: -17px;
}

.tc{
	font-size: 13;
background-color: rgba(232,233,236,0.296);
border-bottom: 1px solid #6C7885;
overflow: hidden;
}

.tc .wrapper{
 height: 28px;
 border-bottom: 1px solid #6C7885;
background: #E8E9EC;
overflow: hidden;
 }
 
.tc-description{
width: 90%;
/* background: #E8E9EC; */
/* height: 30px; */
line-height: 2;
padding-left: 25px;
float: left;
}

.tc-stats{
	width: 44px;
height: 20px;
float: right;
position: relative;
top: 8px;
}

/**/


.tc-expander{
	background:url("images/item_open.png");
		height:14px;
	width:14px;
	margin-left: 5px;
margin-top: 7px;
float: left;
}

.tc-collapse{
	background:url("images/item_close.png");
		height:14px;
	width:14px;
	margin-left: 5px;
margin-top: 7px;
float: left;
}

.tc-steps{
/* 	padding: 10px 20px 10px 20px; */
max-height: 100px;
overflow-y: auto;
/* background: #FDFEF1; */
box-shadow: 0px 1px 12px 0px black inset;

clear: both;
-webkit-box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
-moz-box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
background: #F7F8F9;
padding: 10px;
font-size: 12;	
}

#pannel-wrapper{
	float:left;
	width:100%;
}

.left-pannel  { float:left; overflow:hidden; }
.right-pannel   { overflow:hidden; width:auto; float:none; }
.ui-resizable-helper { border: 2px dotted #00F; }
.handle{
	height:100%;
	float:left;
	width:5px;
	width: 9px;
background: url("images/dots-vertical.png") no-repeat;
background-position: center;
}






/***************************/


.feature .summary {
margin-top: 3px;
margin-left: 62px;
overflow: hidden;
float: left;
position: relative;
top: -47px;
z-index: 0;
border-radius: 6px;
padding-left: 10px;
font-size: 11;
}

.feature .jira-key {
width: 100px;
margin-left: 5px;
position: relative;
top: 6px;
font-size: 12;
}

.feature .title-bar{
width: 64px;
background: #E8E9EC;
height: 100%;
z-index: 2;
position: relative;
box-shadow: -4px 0px 10px 2px;
}

.stats {
width: 44px;
height: 14px;
float: none;
position: relative;
top: 12px;
left: 11px;
}

.feature {
font-size: 13;
padding: 0px 5px 0px 3px;
background-color: rgba(232,233,236,0.296);
border-bottom: 1px solid #6C7885;
height: 51px;
overflow: hidden;
margin-left: 2px;
padding-left: 0px;
font-weight: bold;
margin-bottom: 1px;
}
.stats .count {
width: 40px;
text-align: center;
position: relative;
top: -14px;
font-size: 11;
}

.loading-small{
	background:url("images/LoadingIcon.gif");
	height: 20px;
	width: 20px;
	position: relative;
top: 5px;
left: 21px;
border:none;
}

.stats .bar {
background: #F7F8F9;
}




.tc-description {
width: 90%;
margin-left: 28px;
float: left;
position: relative;
top: 1.2em;
line-height: 0;
padding-left: 0px;
font-weight: bold;
font-size: 0.9em;
}

.tc-stats {
width: 20px;
height: 20px;
float: right;
position: relative;
top: 6px;
}


.left-pannel{
	width:100%;
}

#lp-wrapper{
	width:30%;
	height:100%;
	float:left;
	margin-right: 5px;
	padding-right: 2px;
	min-width:218px;
}

.ui-resizable-e{
		height:100%;
	float:left;
	width:5px;
	width: 9px;
background: url("images/dots-vertical.png") no-repeat;
background-position: center;
}

.ui-resizable-s {
cursor: s-resize;
height: 7px;
width: 100%;
bottom: -10px;
left: 0;
background: url("images/dots-horizontal.png") no-repeat;
background-position: center;
background-color:white;
margin-bottom: 5px;
box-shadow: 0px 1px 12px 0px black inset;
-webkit-box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
-moz-box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
box-shadow: rgba(69,69,69,0.667) 0 0 6px inset;
}

.left-pannel .ui-resizable-e{
	right:-50px;
}
/**************************/